$primaryColor: #4f1e50;
$secondaryColor: #911585;
$offWhite: floralwhite;

body {
  #panelArea {
    background-color: $primaryColor;
    border: 3px inset $secondaryColor;
    max-height: 300px;
    max-width: 320px;
    overflow: scroll;
    h1 {
      color: $offWhite;
    }

    ol {
      li {
        border-top: 1px solid $secondaryColor;
        color: $offWhite;
      }
    }
  }
}
