body {
  max-height: 300px;
  max-width: 320px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  body h1 {
    background-color: #4f1e50;
    color: floralwhite; }
  body #panelArea {
    background-color: #4f1e50;
    border: 3px inset #911585;
    width: 100%;
    overflow: auto; }
    body #panelArea #categoryList {
      max-height: 300px; }
      body #panelArea #categoryList ol li {
        border-top: 1px solid #911585;
        color: floralwhite; }
  body ::-webkit-scrollbar {
    width: 10px; }
  body ::-webkit-scrollbar-track {
    background: #4f1e50; }
  body ::-webkit-scrollbar-thumb {
    background: #911585; }
  body ::-webkit-scrollbar-thumb:hover {
    background: #910ea1; }
